body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

  header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    padding: 10px;
  }
  
  label {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  #selected-time {
    display: block;
    font-weight: bold;
  }
  
  #any-time {
    display: block;
    color: gray;
    font-style: italic;
  }
  